<!-- if the register form is not valid the ngSubmit will not work -->
<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />
  <div class="mb-3">
    <!-- uses the name property to track whats being entered into the form -->
    <div class="mb-3">
      <label>I am a:</label>
      <label class="form-check-label ms-4">
        <input
          type="radio"
          class="form-check-input"
          value="male"
          formControlName="gender"
        />
        Male
      </label>
      <label class="form-check-label ms-4">
        <input
          type="radio"
          style="margin-right: 30px"
          class="form-check-input"
          value="female"
          formControlName="gender"
        />
        female
      </label>
    </div>

    <app-text-input
      [formControl]="$any(registerForm.controls['username'])"
      [label]="'username'"
    ></app-text-input>
    <app-text-input
      [formControl]="$any(registerForm.controls['knownAs'])"
      [label]="'known as?'"
    ></app-text-input>

    <!-- only if the user is 18 years old -->
    <app-date-picker
      [formControl]="$any(registerForm.controls['dateOfBirth'])"
      [label]="'dob'"
      [maxDate]="maxDate"
    ></app-date-picker>

    <app-text-input
      [formControl]="$any(registerForm.controls['city'])"
      [label]="'city'"
    ></app-text-input>

    <app-text-input
      [formControl]="$any(registerForm.controls['country'])"
      [label]="'country'"
    ></app-text-input>

    <app-text-input
      [formControl]="$any(registerForm.controls['password'])"
      [label]="'password'"
      [type]="'password'"
    ></app-text-input>

    <app-text-input
      [formControl]="$any(registerForm.controls['confirmPassword'])"
      [label]="'confirmPassword'"
      [label]="'Confirm Password'"
      [type]="'password'"
    ></app-text-input>

    <!-- used to show the errors inside of the array -->
    <div class="row" *ngIf="validationErrors">
      <ul class="text-danger">
        <li *ngFor="let error of validationErrors">
          {{ error }}
        </li>
      </ul>
    </div>

    <div class="form-group text-center">
      <button class="btn btn-success mr-2" type="submit" [disabled]="!registerForm.valid">Register</button>
      <button class="btn btn-info mr-2" type="button" (click)="cancel()">
        Cancel
      </button>
    </div>

  </div>
</form>

<!-- <p>form value {{ registerForm.value | json }}</p>
<p>form value {{ registerForm.status | json }}</p> -->
