<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"
      >Dating Application</a
    >
    <ul class="navbar-nav mr-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <!-- 1. in order to enable routing inside of the nav bar -->
          <!-- 2. the active can be used for the active class -->
          <a class="nav-link" routerLink="/messages" routerLinkActive="active"
            >Messages</a
          >
        </li>

        <!-- this below is a custom directive used to display the links based on the roles -->
        <li class="nav-item" *appHasRole="['Admin', 'Moderator']">
          <a class="nav-link" routerLink="/admin" routerLinkActive="active"
            >Admin</a
          >
        </li>
      </ng-container>

      <li class="nav-item">
        <a class="nav-link" routerLink="/errors" routerLinkActive="active"
          >Errors</a
        >
      </li>
    </ul>

    <!-- making the drop down for the toggle -->
    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <img src="{{ user.photoUrl || './assets/user.png' }}" alt="user photo" />
      <a
        class="dropdown-toggle text-light text-decoration-none ms-lg-3"
        dropdownToggle
        >Welcome {{ user.username | titlecase }}</a
      >
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <!-- 1. converting the form into a angular form and showing only if the user is not logged in -->
    <!-- 2. by making the accout service private we are then able to use the current user of that service directly inside of the HTML template -->
    <form
      *ngIf="(accountService.currentUser$ | async) === null"
      class="form-inline mt-2 mt-md-0"
      #loginForm="ngForm"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        placeholder="username"
        name="username"
        [(ngModel)]="model.Username"
      />
      <!-- this is used to get the form data -->
      <input
        class="form-control mr-sm-2"
        type="password"
        placeholder="password"
        name="password"
        [(ngModel)]="model.Password"
      />
      <button
        class="btn btn-outline-success btn-secondary my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>
